@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

*{
    box-sizing: border-box;    
}
body{
    margin: auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
 }
.logo{
    font-weight: bold;
    margin: 16px 20px;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 3px;
}
.header{
    background: no-repeat center/cover url('./images/capa.avif');
    height: calc(100vh - 500px);
 }
 .nav{
     display: flex;
     justify-content: space-between;
 }
.info{
    display: flex;
    list-style: none;
}
.info li{
    color: black;
    margin: 0 20px;
    font-size: 1.5rem;
}
.anchor{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
.text{
    text-align: center;
    font-size: 2rem;
    color: white;
    margin: 150px auto;
    max-width: 500px;
}
.calculatorbox{
    margin: 10px auto;
    border: 2px solid;
    max-width: 750px;
    background: #DCDCDC;
}
.titulo{
    text-align: center;
    letter-spacing: 3px;
}
.inputs{
    display: flex;
    justify-content: center;
}
#numeropessoa::-webkit-inner-spin-button,#consumo::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.tableData{
    width: 350px;
    height: 80px;
    font-size: 1.5rem;
    padding: 10px;
}
.inputData{
    width: 150px;
    height: 45px;
    margin: 10px;
    font-size: 25px;
    border-radius: 8px;
    border: 1px solid;
}
.buttonGreen{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 1.5rem;
    background: #008000;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
 }
 .buttonRed{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 1.5rem;
    background: #8b0000;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
 }
 .buttonGreen:hover, .buttonRed:hover{
     background-color: #DCDCDC;
     color: black;
 }

 /* RESPONSIVIDADE */
 @media (max-width:767px)  {
    body{
        margin-botton: 35px;
    }
    .header .nav ul{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        height: 35px;
        background: #1d61dd;
        display: flex;
        justify-content: space-around;
    }
    .info li{
        color:white;
        margin: 0 20px;
        font-size: 1rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .calculatorbox{
        max-width: 390px;
        display: flex;
        flex-direction: column;
        margin: 10px auto;
    }
    .titulo{
        text-align: center;
        letter-spacing: 3px;
        font-size: 15px;
    }
    .tableData{
        width: 200px;
        height: 30px;
        font-size: 15px;
        padding: 10px;
        margin-right: 100px;
        align-items:right;
    }
    .inputData{
        width: 100px;
        height: 35px;
        margin: 0 10px;
        font-size: 15px;
        border-radius: 8px;
        border: 1px solid;
    }
    .buttonGreen{
        width: 150px;
        height: 35px;
        border-radius: 10px;
        font-size: 1rem;
        background: #008000;
        color: white;
        font-weight: bold;
        cursor: pointer;
     }
     .buttonRed{
        width: 150px;
        height: 35px;
        border-radius: 10px;
        font-size: 1rem;
        background: #ff0000;
        color: white;
        font-weight: bold;
        cursor: pointer;
     }
     .buttonGreen:hover, .buttonRed:hover{
         background-color: #DCDCDC;
         color: black;
     }
}
@media (max-width:480px)  {
    body{
        margin-botton: 35px;
    }
    .header .nav ul{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        height: 35px;
        background: #1d61dd;
        display: flex;
        justify-content: space-around;
    }
    .info li{
        color:white;
        margin: 0 20px;
        font-size: 1rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .calculatorbox{
        max-width: 390px;
        display: flex;
        flex-direction: column;
        margin: 10px auto;
    }
    .titulo{
        text-align: center;
        letter-spacing: 3px;
        font-size: 15px;
    }
    .tableData{
        width: 200px;
        height: 30px;
        font-size: 15px;
        padding: 10px;
        margin-right: 100px;
        align-items:right;
    }
    .inputData{
        width: 100px;
        height: 35px;
        margin: 0 10px;
        font-size: 15px;
        border-radius: 8px;
        border: 1px solid;
    }
    .buttonGreen{
        width: 150px;
        height: 35px;
        border-radius: 10px;
        font-size: 1rem;
        background: #008000;
        color: white;
        font-weight: bold;
        cursor: pointer;
     }
     .buttonRed{
        width: 150px;
        height: 35px;
        border-radius: 10px;
        font-size: 1rem;
        background: #ff0000;
        color: white;
        font-weight: bold;
        cursor: pointer;
     }
     .buttonGreen:hover, .buttonRed:hover{
         background-color: #DCDCDC;
         color: black;
     }
}

@media (min-width:801px)  { 
    .calculatorbox{
        max-width: 600px;
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
